<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/hex.css"}}" />

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    <script type="text/javascript" src="{{asset "js/ghex_config.js"}}"></script>

</head>

<body class="{{body_class}}"  style="background: {{#if @blog.cover_image}} url({{@blog.cover_image}}) repeat center center fixed {{/if}} #f0f0f0;">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer">


        <a class="subscribe" href="{{@blog.url}}/rss/"><span class="icon-social" style="display: inline;">r</span></a>

        <div id="social_down" class="head_social" style="display: none;">
            <ul>
            </ul>
        </div>

        <div class="inner">
             <section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</section>
             <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Ghex }}
    <script type="text/javascript" src="{{asset "js/fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
